---
layout: default
title: "HBNN – HardbassSMP 8.0"
description: "Hardbass News Network"
og_url: "https://mc.hardbass.dev/hbnn/"
---

<h1>HBNN</h1>
<h2>hardbass news network</h2>
<br />
{% if site.posts.size > 0 %}
<ul class="post-list">
    {% for post in site.posts %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a> -
        <span class="post-date">{{ post.date | date: "%-d %B %Y" }}</span>
    </li>
    {% endfor %}
</ul>
<div class="btn-row">
    <a href="/feed.xml" target="_blank" class="btn btn-primary">
        <i class="fa-solid fa-rss"></i> RSS Feed
    </a>
</div>
{% else %}
<p>The posts could not be loaded for whatever fuckin reason.</p>
{% endif %}
