// Evergarden Winter Palette
:root {
    --eg-red: #f57f82;
    --eg-orange: #f7a182;
    --eg-yellow: #f5d098;
    --eg-lime: #dbe6af;
    --eg-green: #cae0a7;
    --eg-aqua: #addeb9;
    --eg-skye: #ace0d4;
    --eg-snow: #afdfe6;
    --eg-blue: #b2cfed;
    --eg-purple: #d0bbf0;
    --eg-pink: #f3c0e5;
    --eg-cherry: #f6cee5;
    --eg-text: #f8f9e8;
    --eg-subtext1: #adc9bc;
    --eg-subtext0: #96b4aa;
    --eg-overlay2: #839e9a;
    --eg-overlay1: #6f8788;
    --eg-overlay0: #58686d;
    --eg-surface2: #4a585c;
    --eg-surface1: #3d494d;
    --eg-surface0: #2d393d;
    --eg-base: #1d2428;
    --eg-crust: #171c1f;
}
