<!doctype html>

<html lang="{{ page.lang | default: 'en-GB' }}">
    {% include head.html %}
    <body>
        <canvas id="rain" style="position: fixed; top: 0px; left: 0px"></canvas>

        <div class="browser-window">
            {% include navbar.html %}
            <div class="content">
                {{ content }}
            </div>
        </div>

        <div style="position: fixed; bottom: 1rem; right: 1rem; z-index: 1000;">
            <iframe style="border: 0; width: 400px; height: 120px;" src="{{ site.bandcamp_embed_src }}" seamless><a href="https://bandcamp.com">Music on Bandcamp</a></iframe>
        </div>

        <script src="/assets/js/rain.js"></script>
        <script src="/assets/js/ui.js"></script>
        <script src="/assets/js/navigate.js"></script>
    </body>
</html>